.mcp-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.mcp-table th,
.mcp-table td {
  padding: 16px;
}
.mcp-table > thead > tr > th {
  font-weight: bold;
  background-color: #333;
  border: solid 1px #333;
  color: #fff;
}
.mcp-table th:first-child {
  text-align: left;
}
.mcp-table th:last-child {
  font-weight: normal;
}
.mcp-location {
  text-align: left;
}
.mcp-table a.btn-size-extra-small {
  padding: 5px 10px;
  border-radius: 2px;
}
